@import url("https://fonts.googleapis.com/css?family=Raleway:200,400,700&display=swap&subset=latin-ext");
$blue-color: rgb(0,108,164);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #eee;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;

    .nav {
        width: 100%;
        height: 100px;
        background-color: #ababab;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        @media screen and (max-width:700px){
            height: 70px;
        }

        .nav__link {
            text-decoration: none;
            color: #333;
            @media screen and (max-width: 700px){
                font-size: 1rem;
            }

            .nav__header {
                display: flex;
                align-items: center;

                .logo__icon {
                    margin-right: 5px;
                }
                .logo__header--blue {
                    color: $blue-color;
                }
            }
        }

        .nav__input {
            padding: 10px;
            font-size: 1rem;
            border: 0 solid rgba(10,10,10,0);
            background-color: #eee;
            box-shadow: 2px 2px 6px #777;
            transition: 0.3s box-shadow;
            @media screen and (max-width:700px){
                width: 100px;
                padding: 5px;
            }

            &:hover {
                box-shadow: 2px 2px 6px $blue-color;
            }
            &:focus {
                box-shadow: 2px 2px 6px $blue-color;
            }
        }
        .nav__search {
            border: 0px solid #111;
            background-color: #eee;
            padding: 10px;
            font-size: 1rem;
            margin: 0;
            box-shadow: 2px 2px 6px #777;
            transition: 0.3s box-shadow;
            @media screen and (max-width:700px){
                padding: 5px;
            }

            &:hover {
                box-shadow: 2px 2px 6px $blue-color;
            }
        }
    }

    .section {
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        background-image: url('/assets/clouds.jpg');
        position: relative;

        .section__row {
            padding: 5%;
            width: 100%;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-image: linear-gradient(to right, rgba(220,220,220,1) 10%, rgba(220,220,220,0.4));

            .row__header {
                width: 70%;

                h1 {
                    font-size: 3rem;
                    margin-bottom: 30px;
                    padding: 10px;
                    border-left: 3px solid $blue-color;
                    border-bottom: 3px solid $blue-color;
                }
                p {
                    font-size: 1.2rem;
                    line-height: 120%;
                }
            }
        }

        .footer {
            text-align: right;
            align-self: flex-end;
            position: absolute;
            bottom: 20px;
            right: 20px;

            .footer__link {
                color: #111;
                font-size: 1rem;

                &:hover {
                    color: $blue-color;
                }
            }
        }
    }

    .main {
        min-height: 100vh;
        width: 100%;
        padding: 0 5% 5% 5%;
        padding-top: 120px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        display: none;

        @media screen and (max-width: 700px){
            flex-direction: column;
        }

        .main__container {
            flex: 0 1 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .main__item {
                font-size: 3rem;
                text-align: center;
                @media screen and (max-width:700px){
                    font-size: 2rem;
                }

                .main__item--sup {
                    font-size: 1.5rem;
                    font-weight: 200;
                    @media screen and (max-width:700px){
                        font-size: 1rem;
                    }
                }
            }
            .main__icon {
                background-color: #fff;
                .icon {
                    width: 100px;
                    height: 100px;
                }
            }
        }

        .aside__container {
            flex: 0 1 50%;
            border-left: 2px solid $blue-color;
            @media screen and (max-width: 700px){
                border-left: 0px solid #111;
            }

            .aside__row {
                display: flex;
                border-bottom: 2px solid $blue-color;

                &:last-of-type {
                    border-bottom: 0px solid $blue-color;
                }

                .row__item {
                    flex: 0 1 50%;
                    padding: 20px 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    &:first-of-type {
                        border-right: 2px solid $blue-color;
                    }

                    .item__header {
                        font-size: 1.5rem;
                        font-weight: 400;
                        text-align: center;
                        @media screen and (max-width:700px){
                            font-size: 1.2rem;
                        }
                    }

                    .item__output {
                        font-size: 2.5rem;
                        text-align: center;
                        @media screen and (max-width:700px){
                            font-size: 1.5rem;
                        }

                        .item__output--sup {
                            font-size: 1.5rem;
                            font-weight: 200;
                            @media screen and (max-width:700px){
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .weather__section {
        padding: 0 5%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        .daily__item {
            flex: 0 1 20%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            padding: 20px 40px;
            margin: 20px 20px;
            box-shadow: 2px 2px 5px rgba(0,108,164,0.5);
            @media screen and (max-width:610px){
                flex-direction: row;
                flex: 0 1 100%;
            }

            .daily__date {
                font-size: 1.2rem;
                text-align: center;
            }
            .weather__row {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 20px;
            }
            .daily__temp {
                width: 50px;
            }
        }
    }
}